body {
    font-family: "Segoe UI";
    margin: 0;
    font-size: 14px;
}

a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;

}
A:link, A:visited, A:active {
    text-decoration: none;
}
A:hover, A:focus {
    text-decoration: none; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: #e9e6db; /* Цвет ссылки */
}
.Header {
    background-color: cadetblue;
    width: 100%;
    height: 20px;
    /* height: 80px; */
    text-align: center;
    vertical-align: middle;
    padding: 15px 0 20px;
    display: inline-block;
}

.Now {
    background-color: antiquewhite;
    width: 100%;
    /*height: 400px;*/
    /* height: 80px; */
    text-align: center;
    vertical-align: middle;
    padding: 15px 0 20px;
    display: inline-block;
}

.Future {
    background-color: aquamarine;
    width: 100%;
    /*height: 300px;*/
    /* height: 80px; */
    text-align: center;
    vertical-align: middle;
    padding: 15px 0 20px;
    display: inline-block;
}

.LabelInfo {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: blue;
}

.ButtonCity {
    background-color: burlywood;
}

button {
    border: 1px solid #444444;
    height: 20px;
    width: 80px;
    color: #444444;
    background-color: #c8c3bb;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
}

button:focus, button:hover {
    background-color: #e9e6db;
}

table {
    border-collapse: collapse;
    background-color: #e9e6db;
    color: #444444;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}

table, td, th {
    border: 2px solid #444444;
}
th, td {
    padding: 15px;
    text-align: left;
}
table input{
    width: 190px;
}